/* Default Styling */

:root {
    --header-blue: #2777cc;
    --background: #70a9e6;
    --text-color: white;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: var(--background, blue);
      text-align: center;
      color: var(--text-color, white);
      font-family: "Roboto", sans-serif;
    }
    
    /* Header */
    
    header {
      background: var(--header-blue, blue);
      width: 100%;
    }
    
    header h1 {
      font-family: 'Staatliches', cursive;
    }
    
    /* Main */
    
    button {
      border-style: none;
      background: var(--header-blue, blue);
      color: white;
      font-weight: bold;
      padding: 1rem;
      position: relative;
      display: inline-block;
    }
    
    button:hover {
      background: #1e5a9c;
      cursor: pointer;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 7.80rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
    
    .dropdown-content a {
      color: black;
      text-decoration: none;
      display: block;
      padding: 0.3rem 0;
    }
  
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }

    /* Sources */ 

    article li {
      margin-top: 2rem;
      text-align: left;
    }

    article a {
      color: blue;
      font-weight: bold;
    }

    article a:hover {
      color: white;
    }
    
    /* Footer */
    
    footer {
      background: var(--header-blue, blue);
      width: 100%;
    }
    
    footer h2 {
      padding: 0.5rem;
    }
    
    /* Media query */
    
    @media screen and (min-height: 351px) {
      .dropdown2 {
        display: none;
      }
    }
    
    @media screen and (max-height: 140px) {
      h4 {
        display: none;
      }
    }
    
    @media screen and (max-height: 350px) {
       .dropdown {
         display: none;
       }
       
       .dropdown2 a {
         color: white;
         background: var(--header-blue, blue);
         text-decoration: none;
         padding: 0.5rem;
       }
       
       .dropdown2 a:hover {
         background: white;
         color: var(--header-blue, blue);
       }
       
    }
  